// --- INPUT ---

.input-color {
    height: 40px;
    width: 80px; 
    display: inline-flex;
    margin-right: 12px;

    &.selected {
        border: 3px solid #ef00ff;
    }
}

.label span {
    color: #ff3c3c;
}